/*
This custom.css file is the individual work of Sawyer Middeleer, inspired and, in some cases,
adapted from the work done by the folks on the Estonian Open Government Data Portal (https://opendata.riik.ee/en/)
and the Open Austin project (https://www.open-austin.org/).

I used css styling primarily to improve the user experience of my site, and secondarily to create a visual identity.

I found that the base styling added extra clutter, which made it a little more difficult to find things than I thought it should be.
Since this data portal is meant to be incredibly simple, I wanted the aesthetics to facilitate user navigation as much as possible
Hover, active and focus styling hopefully improve legibility and responsiveness to user actions.

A simple, cohesive color scheme on top of the lumina theme makes the site more visually appealing than a basic gray and blue.
The maroon and gray are color choices that give the site a little UChicago pride and direct attention to the correct places.

In addition to css work here, there are small instances of html additions on other pages to add elements where
I thought they would be beneficial. For example, I added a box on the index.html page and changed how categories are organized.
I also added links to my twitter and github on the navigation bar for some added transparency into who created the website,
just in case this app ever makes it out there into the public.
*/


/* Universal text styling */
.row {
  box-sizing: border-box;
}

.container{
  color: #1a1a1a;
}

* {
  font-family: sans-serif;
}

h1 {
  font-weight: medium;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4, h5, h6, p {
  font-family: sans-serif;
}

p {
  margin-top: 0em;
}

a {
  font-family: sans-serif;
  color: #800000;
  font-weight: 'bold';
  text-align: left;
  margin: 0;
}

/* end universal text styling */

/* begin universal selection and hover styling */

*::selection {
  background-color: #ffb3b3;
}

a:hover {
  color: #cc0000;
}

/* end universal selection and hover styling */

/* "browse all data" button */

.btn {
  border-width: medium;
  border-style: solid;
  border-color: #e6e6e6;
  background-color: #800000;
  color: #e6e6e6;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 1em;
}

  .btn:hover {
    background-color: #cc0000;
    border-width: medium;
    border-style: solid;
    color: #e6e6e6;
    border-color: #e6e6e6;
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 1em;
  }
/* "end browse all data" button */


/* Navigation bar -- adapted from https://www.open-austin.org/*/
.navbar {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #800000;
}

  .navbar a {
    text-align: center;
    margin: 1;
    color: #e6e6e6;
    text-decoration: none;
  }

  .navbar a:hover {
    text-align: center;
    margin: 1;
    color: #ffb3b3;
    text-decoration: none;
  }

  .navbar .title {
    margin-top: 0em;
    border-bottom: none;
  }

  .navbar .title-wrapper h1 {
    font-weight: bold;
    float: left;
    color: #e6e6e6;
    font-size: 3em;
  }

  .navbar .title-wrapper .login {
    float: right;
  }

  .navbar .nav-wrapper {
    margin-left: 1em;
    float: left;
    width: 80%;
    margin-bottom: 1em;
  }

  .navbar ul.subnav {
    text-align: left;
    float: left;
    margin: 0;
    padding: 0;
  }

    .navbar ul.subnav li {
      float: none;
    }

      .navbar ul.subnav li:first-child {
        margin-left: 0;
      }


/* login button */

  .navbar .login {
    float: right;
  }


/* login button */

  .navbar a.loginbutton i {
    float: none;
  }

  .navbar .navbar {
    border: none;
  }

    .navbar a.loginbutton {
      color: #e6e6e6;
      padding: 0.15em 1em;
      border-radius: 2px;
      text-decoration: none;
      margin-top: 0.25em;
      border: none;
      float: right;
    }

/* homepage button */

  .navbar .navbar-brand {
    padding-left: 0;
    margin-left: 0;
    color: #e6e6e6;
    text-align: center;
  }

  .navbar .navbar-brand:hover {
    border-bottom: solid 1px #e6e6e6;
    color: #e6e6e6;
  }

/* end homepage button */

/* datasets and organizations buttons */
  .navbar .navbar-nav {
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }

  .navbar li {
    float: left;
    margin-left: 0.5em;
    list-style-type: none;
    color: #e6e6e6;
    background-color: #800000;
  }

  .navbar .navbar-right li {
    float: right;
  }

  .navbar .nav > li > a {
    border: solid 2px #e6e6e6;
    color: #e6e6e6;
    border-radius: 2px;
  }

    .navbar .nav > li > a:hover {
      background-color: #e6e6e6;
      color: #800000;
    }

    .navbar .nav > li.active > a {
      background-color: #e6e6e6;
      color: #800000;
    }

    .navbar .nav > li.active > a:hover {
      background-color: #e6e6e6;
      color: #800000;
    }
/* end datasets and organizations buttons */

/* end navigation bar */


/* home page */

section.container {
  background-color: none;
  border-style: none;
  width: 80%;
}

.jumbotron {
  background-color: #e6e6e6;
  border-width: medium;
  border-style: solid;
  border-color: #800000;
}

.homepage-categories {
  float: left;
  margin: auto;
}

.alert {
  width: 80%;
  margin: auto;
  clear: both;
  background-color: #fff;
  border-width: medium;
  border-style: solid;
  border-color: #800000;
}

.alert .row {
  display: flex;
  margin: auto;
}

.alert .column {
  flex: 33.33%;
  margin: auto;
}

/* end homepage */

/* datasets lists */

.row .list-group-item {
  background-color: none;
  color: #800000;
  border-width: thin;
  border-style: solid;
  border-color: #800000;
}

.row .badge {
  background-color: #800000;
  color: #e6e6e6;
}

.row .active {
  background-color: #800000;
  color: #e6e6e6;
}

.row .active .badge {
  background-color: #e6e6e6;
  color: #800000;
}

.row .active:hover {
  background-color: #800000;
  color: #e6e6e6;
}

/* end datasets lists */
