<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

  <div class="container mt-5" style="display: flex; align-items: flex-start;">
    <div class="row">
      <div class="col-sm-auto">
    </div>
    <div class="col-sm">
      {% if page.lang %}
      <p style="text-align:justify;">{{ site.footer_description[page.lang] }}</p>
      {% else %}
      <p style="text-align:justify;">{{ site.footer_description.en }}</p>
      {% endif %}
    </div>
  </div>
  </div>

</footer>
